.grid_container {
  display: grid; }
  .grid_container.columns-1 {
    grid-template-columns: repeat(1, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-1 {
      grid-template-columns: repeat(1, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-1 {
      grid-template-columns: repeat(1, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-1 {
      grid-template-columns: repeat(1, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-1 {
      grid-template-columns: repeat(1, minmax(10px, 1fr)); } }
  .grid_container .column-fill-1 {
    grid-column: span 1; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-1 {
      grid-column: span 1; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-1 {
      grid-column: span 1; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-1 {
      grid-column: span 1; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-1 {
      grid-column: span 1; } }
  .grid_container.columns-2 {
    grid-template-columns: repeat(2, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-2 {
      grid-template-columns: repeat(2, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-2 {
      grid-template-columns: repeat(2, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-2 {
      grid-template-columns: repeat(2, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-2 {
      grid-template-columns: repeat(2, minmax(10px, 1fr)); } }
  .grid_container .column-fill-2 {
    grid-column: span 2; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-2 {
      grid-column: span 2; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-2 {
      grid-column: span 2; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-2 {
      grid-column: span 2; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-2 {
      grid-column: span 2; } }
  .grid_container.columns-3 {
    grid-template-columns: repeat(3, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-3 {
      grid-template-columns: repeat(3, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-3 {
      grid-template-columns: repeat(3, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-3 {
      grid-template-columns: repeat(3, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-3 {
      grid-template-columns: repeat(3, minmax(10px, 1fr)); } }
  .grid_container .column-fill-3 {
    grid-column: span 3; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-3 {
      grid-column: span 3; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-3 {
      grid-column: span 3; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-3 {
      grid-column: span 3; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-3 {
      grid-column: span 3; } }
  .grid_container.columns-4 {
    grid-template-columns: repeat(4, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-4 {
      grid-template-columns: repeat(4, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-4 {
      grid-template-columns: repeat(4, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-4 {
      grid-template-columns: repeat(4, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-4 {
      grid-template-columns: repeat(4, minmax(10px, 1fr)); } }
  .grid_container .column-fill-4 {
    grid-column: span 4; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-4 {
      grid-column: span 4; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-4 {
      grid-column: span 4; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-4 {
      grid-column: span 4; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-4 {
      grid-column: span 4; } }
  .grid_container.columns-5 {
    grid-template-columns: repeat(5, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-5 {
      grid-template-columns: repeat(5, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-5 {
      grid-template-columns: repeat(5, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-5 {
      grid-template-columns: repeat(5, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-5 {
      grid-template-columns: repeat(5, minmax(10px, 1fr)); } }
  .grid_container .column-fill-5 {
    grid-column: span 5; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-5 {
      grid-column: span 5; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-5 {
      grid-column: span 5; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-5 {
      grid-column: span 5; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-5 {
      grid-column: span 5; } }
  .grid_container.columns-6 {
    grid-template-columns: repeat(6, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr)); } }
  .grid_container .column-fill-6 {
    grid-column: span 6; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-6 {
      grid-column: span 6; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-6 {
      grid-column: span 6; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-6 {
      grid-column: span 6; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-6 {
      grid-column: span 6; } }
  .grid_container.columns-7 {
    grid-template-columns: repeat(7, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-7 {
      grid-template-columns: repeat(7, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-7 {
      grid-template-columns: repeat(7, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-7 {
      grid-template-columns: repeat(7, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-7 {
      grid-template-columns: repeat(7, minmax(10px, 1fr)); } }
  .grid_container .column-fill-7 {
    grid-column: span 7; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-7 {
      grid-column: span 7; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-7 {
      grid-column: span 7; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-7 {
      grid-column: span 7; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-7 {
      grid-column: span 7; } }
  .grid_container.columns-8 {
    grid-template-columns: repeat(8, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr)); } }
  .grid_container .column-fill-8 {
    grid-column: span 8; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-8 {
      grid-column: span 8; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-8 {
      grid-column: span 8; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-8 {
      grid-column: span 8; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-8 {
      grid-column: span 8; } }
  .grid_container.columns-9 {
    grid-template-columns: repeat(9, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-9 {
      grid-template-columns: repeat(9, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-9 {
      grid-template-columns: repeat(9, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-9 {
      grid-template-columns: repeat(9, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-9 {
      grid-template-columns: repeat(9, minmax(10px, 1fr)); } }
  .grid_container .column-fill-9 {
    grid-column: span 9; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-9 {
      grid-column: span 9; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-9 {
      grid-column: span 9; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-9 {
      grid-column: span 9; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-9 {
      grid-column: span 9; } }
  .grid_container.columns-10 {
    grid-template-columns: repeat(10, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-10 {
      grid-template-columns: repeat(10, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-10 {
      grid-template-columns: repeat(10, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-10 {
      grid-template-columns: repeat(10, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-10 {
      grid-template-columns: repeat(10, minmax(10px, 1fr)); } }
  .grid_container .column-fill-10 {
    grid-column: span 10; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-10 {
      grid-column: span 10; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-10 {
      grid-column: span 10; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-10 {
      grid-column: span 10; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-10 {
      grid-column: span 10; } }
  .grid_container.columns-11 {
    grid-template-columns: repeat(11, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-11 {
      grid-template-columns: repeat(11, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-11 {
      grid-template-columns: repeat(11, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-11 {
      grid-template-columns: repeat(11, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-11 {
      grid-template-columns: repeat(11, minmax(10px, 1fr)); } }
  .grid_container .column-fill-11 {
    grid-column: span 11; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-11 {
      grid-column: span 11; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-11 {
      grid-column: span 11; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-11 {
      grid-column: span 11; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-11 {
      grid-column: span 11; } }
  .grid_container.columns-12 {
    grid-template-columns: repeat(12, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-12 {
      grid-template-columns: repeat(12, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-12 {
      grid-template-columns: repeat(12, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-12 {
      grid-template-columns: repeat(12, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-12 {
      grid-template-columns: repeat(12, minmax(10px, 1fr)); } }
  .grid_container .column-fill-12 {
    grid-column: span 12; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-12 {
      grid-column: span 12; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-12 {
      grid-column: span 12; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-12 {
      grid-column: span 12; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-12 {
      grid-column: span 12; } }
  .grid_container.columns-13 {
    grid-template-columns: repeat(13, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-13 {
      grid-template-columns: repeat(13, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-13 {
      grid-template-columns: repeat(13, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-13 {
      grid-template-columns: repeat(13, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-13 {
      grid-template-columns: repeat(13, minmax(10px, 1fr)); } }
  .grid_container .column-fill-13 {
    grid-column: span 13; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-13 {
      grid-column: span 13; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-13 {
      grid-column: span 13; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-13 {
      grid-column: span 13; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-13 {
      grid-column: span 13; } }
  .grid_container.columns-14 {
    grid-template-columns: repeat(14, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-14 {
      grid-template-columns: repeat(14, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-14 {
      grid-template-columns: repeat(14, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-14 {
      grid-template-columns: repeat(14, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-14 {
      grid-template-columns: repeat(14, minmax(10px, 1fr)); } }
  .grid_container .column-fill-14 {
    grid-column: span 14; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-14 {
      grid-column: span 14; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-14 {
      grid-column: span 14; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-14 {
      grid-column: span 14; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-14 {
      grid-column: span 14; } }
  .grid_container.columns-15 {
    grid-template-columns: repeat(15, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-15 {
      grid-template-columns: repeat(15, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-15 {
      grid-template-columns: repeat(15, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-15 {
      grid-template-columns: repeat(15, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-15 {
      grid-template-columns: repeat(15, minmax(10px, 1fr)); } }
  .grid_container .column-fill-15 {
    grid-column: span 15; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-15 {
      grid-column: span 15; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-15 {
      grid-column: span 15; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-15 {
      grid-column: span 15; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-15 {
      grid-column: span 15; } }
  .grid_container.columns-16 {
    grid-template-columns: repeat(16, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-16 {
      grid-template-columns: repeat(16, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-16 {
      grid-template-columns: repeat(16, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-16 {
      grid-template-columns: repeat(16, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-16 {
      grid-template-columns: repeat(16, minmax(10px, 1fr)); } }
  .grid_container .column-fill-16 {
    grid-column: span 16; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-16 {
      grid-column: span 16; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-16 {
      grid-column: span 16; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-16 {
      grid-column: span 16; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-16 {
      grid-column: span 16; } }
  .grid_container.columns-17 {
    grid-template-columns: repeat(17, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-17 {
      grid-template-columns: repeat(17, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-17 {
      grid-template-columns: repeat(17, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-17 {
      grid-template-columns: repeat(17, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-17 {
      grid-template-columns: repeat(17, minmax(10px, 1fr)); } }
  .grid_container .column-fill-17 {
    grid-column: span 17; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-17 {
      grid-column: span 17; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-17 {
      grid-column: span 17; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-17 {
      grid-column: span 17; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-17 {
      grid-column: span 17; } }
  .grid_container.columns-18 {
    grid-template-columns: repeat(18, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-18 {
      grid-template-columns: repeat(18, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-18 {
      grid-template-columns: repeat(18, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-18 {
      grid-template-columns: repeat(18, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-18 {
      grid-template-columns: repeat(18, minmax(10px, 1fr)); } }
  .grid_container .column-fill-18 {
    grid-column: span 18; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-18 {
      grid-column: span 18; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-18 {
      grid-column: span 18; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-18 {
      grid-column: span 18; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-18 {
      grid-column: span 18; } }
  .grid_container.columns-19 {
    grid-template-columns: repeat(19, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-19 {
      grid-template-columns: repeat(19, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-19 {
      grid-template-columns: repeat(19, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-19 {
      grid-template-columns: repeat(19, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-19 {
      grid-template-columns: repeat(19, minmax(10px, 1fr)); } }
  .grid_container .column-fill-19 {
    grid-column: span 19; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-19 {
      grid-column: span 19; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-19 {
      grid-column: span 19; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-19 {
      grid-column: span 19; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-19 {
      grid-column: span 19; } }
  .grid_container.columns-20 {
    grid-template-columns: repeat(20, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-20 {
      grid-template-columns: repeat(20, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-20 {
      grid-template-columns: repeat(20, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-20 {
      grid-template-columns: repeat(20, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-20 {
      grid-template-columns: repeat(20, minmax(10px, 1fr)); } }
  .grid_container .column-fill-20 {
    grid-column: span 20; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-20 {
      grid-column: span 20; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-20 {
      grid-column: span 20; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-20 {
      grid-column: span 20; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-20 {
      grid-column: span 20; } }
  .grid_container.columns-21 {
    grid-template-columns: repeat(21, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-21 {
      grid-template-columns: repeat(21, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-21 {
      grid-template-columns: repeat(21, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-21 {
      grid-template-columns: repeat(21, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-21 {
      grid-template-columns: repeat(21, minmax(10px, 1fr)); } }
  .grid_container .column-fill-21 {
    grid-column: span 21; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-21 {
      grid-column: span 21; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-21 {
      grid-column: span 21; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-21 {
      grid-column: span 21; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-21 {
      grid-column: span 21; } }
  .grid_container.columns-22 {
    grid-template-columns: repeat(22, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-22 {
      grid-template-columns: repeat(22, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-22 {
      grid-template-columns: repeat(22, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-22 {
      grid-template-columns: repeat(22, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-22 {
      grid-template-columns: repeat(22, minmax(10px, 1fr)); } }
  .grid_container .column-fill-22 {
    grid-column: span 22; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-22 {
      grid-column: span 22; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-22 {
      grid-column: span 22; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-22 {
      grid-column: span 22; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-22 {
      grid-column: span 22; } }
  .grid_container.columns-23 {
    grid-template-columns: repeat(23, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-23 {
      grid-template-columns: repeat(23, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-23 {
      grid-template-columns: repeat(23, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-23 {
      grid-template-columns: repeat(23, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-23 {
      grid-template-columns: repeat(23, minmax(10px, 1fr)); } }
  .grid_container .column-fill-23 {
    grid-column: span 23; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-23 {
      grid-column: span 23; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-23 {
      grid-column: span 23; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-23 {
      grid-column: span 23; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-23 {
      grid-column: span 23; } }
  .grid_container.columns-24 {
    grid-template-columns: repeat(24, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-24 {
      grid-template-columns: repeat(24, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-24 {
      grid-template-columns: repeat(24, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-24 {
      grid-template-columns: repeat(24, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-24 {
      grid-template-columns: repeat(24, minmax(10px, 1fr)); } }
  .grid_container .column-fill-24 {
    grid-column: span 24; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-24 {
      grid-column: span 24; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-24 {
      grid-column: span 24; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-24 {
      grid-column: span 24; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-24 {
      grid-column: span 24; } }
  .grid_container.columns-25 {
    grid-template-columns: repeat(25, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-25 {
      grid-template-columns: repeat(25, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-25 {
      grid-template-columns: repeat(25, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-25 {
      grid-template-columns: repeat(25, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-25 {
      grid-template-columns: repeat(25, minmax(10px, 1fr)); } }
  .grid_container .column-fill-25 {
    grid-column: span 25; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-25 {
      grid-column: span 25; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-25 {
      grid-column: span 25; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-25 {
      grid-column: span 25; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-25 {
      grid-column: span 25; } }
  .grid_container.columns-26 {
    grid-template-columns: repeat(26, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-26 {
      grid-template-columns: repeat(26, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-26 {
      grid-template-columns: repeat(26, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-26 {
      grid-template-columns: repeat(26, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-26 {
      grid-template-columns: repeat(26, minmax(10px, 1fr)); } }
  .grid_container .column-fill-26 {
    grid-column: span 26; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-26 {
      grid-column: span 26; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-26 {
      grid-column: span 26; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-26 {
      grid-column: span 26; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-26 {
      grid-column: span 26; } }
  .grid_container.columns-27 {
    grid-template-columns: repeat(27, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-27 {
      grid-template-columns: repeat(27, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-27 {
      grid-template-columns: repeat(27, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-27 {
      grid-template-columns: repeat(27, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-27 {
      grid-template-columns: repeat(27, minmax(10px, 1fr)); } }
  .grid_container .column-fill-27 {
    grid-column: span 27; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-27 {
      grid-column: span 27; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-27 {
      grid-column: span 27; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-27 {
      grid-column: span 27; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-27 {
      grid-column: span 27; } }
  .grid_container.columns-28 {
    grid-template-columns: repeat(28, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-28 {
      grid-template-columns: repeat(28, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-28 {
      grid-template-columns: repeat(28, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-28 {
      grid-template-columns: repeat(28, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-28 {
      grid-template-columns: repeat(28, minmax(10px, 1fr)); } }
  .grid_container .column-fill-28 {
    grid-column: span 28; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-28 {
      grid-column: span 28; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-28 {
      grid-column: span 28; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-28 {
      grid-column: span 28; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-28 {
      grid-column: span 28; } }
  .grid_container.columns-29 {
    grid-template-columns: repeat(29, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-29 {
      grid-template-columns: repeat(29, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-29 {
      grid-template-columns: repeat(29, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-29 {
      grid-template-columns: repeat(29, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-29 {
      grid-template-columns: repeat(29, minmax(10px, 1fr)); } }
  .grid_container .column-fill-29 {
    grid-column: span 29; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-29 {
      grid-column: span 29; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-29 {
      grid-column: span 29; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-29 {
      grid-column: span 29; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-29 {
      grid-column: span 29; } }
  .grid_container.columns-30 {
    grid-template-columns: repeat(30, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-30 {
      grid-template-columns: repeat(30, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-30 {
      grid-template-columns: repeat(30, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-30 {
      grid-template-columns: repeat(30, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-30 {
      grid-template-columns: repeat(30, minmax(10px, 1fr)); } }
  .grid_container .column-fill-30 {
    grid-column: span 30; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-30 {
      grid-column: span 30; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-30 {
      grid-column: span 30; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-30 {
      grid-column: span 30; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-30 {
      grid-column: span 30; } }
  .grid_container.columns-31 {
    grid-template-columns: repeat(31, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-31 {
      grid-template-columns: repeat(31, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-31 {
      grid-template-columns: repeat(31, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-31 {
      grid-template-columns: repeat(31, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-31 {
      grid-template-columns: repeat(31, minmax(10px, 1fr)); } }
  .grid_container .column-fill-31 {
    grid-column: span 31; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-31 {
      grid-column: span 31; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-31 {
      grid-column: span 31; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-31 {
      grid-column: span 31; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-31 {
      grid-column: span 31; } }
  .grid_container.columns-32 {
    grid-template-columns: repeat(32, minmax(10px, 1fr)); }
  @media (min-width: 640px) {
    .grid_container.sm\:columns-32 {
      grid-template-columns: repeat(32, minmax(10px, 1fr)); } }
  @media (min-width: 768px) {
    .grid_container.md\:columns-32 {
      grid-template-columns: repeat(32, minmax(10px, 1fr)); } }
  @media (min-width: 1024px) {
    .grid_container.lg\:columns-32 {
      grid-template-columns: repeat(32, minmax(10px, 1fr)); } }
  @media (min-width: 1280px) {
    .grid_container.xl\:columns-32 {
      grid-template-columns: repeat(32, minmax(10px, 1fr)); } }
  .grid_container .column-fill-32 {
    grid-column: span 32; }
  @media (min-width: 640px) {
    .grid_container .sm\:column-fill-32 {
      grid-column: span 32; } }
  @media (min-width: 768px) {
    .grid_container .md\:column-fill-32 {
      grid-column: span 32; } }
  @media (min-width: 1024px) {
    .grid_container .lg\:column-fill-32 {
      grid-column: span 32; } }
  @media (min-width: 1280px) {
    .grid_container .xl\:column-fill-32 {
      grid-column: span 32; } }

/*# sourceMappingURL=grid.css.map */
